.menuItem:hover {
    animation: jump-shaking 0.83s;
    cursor: pointer;
    opacity: 0.8;
}

@keyframes jump-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateY(-14px) }
    35% { transform: translateY(0px)  }
    55% { transform: translateY(-11px)  }
    65% { transform: translateY(-2px)  }
    75% { transform: translateY(-6px)  }
    100% { transform: translateY(0)  }
  }